@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  color: whitesmoke;
  box-sizing: 0;
  padding: 0;
  margin: 0;
}

a:hover {
  color: #5784ba;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

section {
  background-color: #5784ba;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04aa6d;
}

input {
  width: 100%;
}
